<div class="types-section">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h3 class="types-heading mx-5">All Types</h3>
      </div>
      <div class="col-md-6 text-end">
        <a class="types-button" [routerLink]="['/types',0]"> Add New Type </a>
      </div>
    </div>
    <div class="types-table-container">
      <table class="table table-hover types-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type Details</th>
            <th>Company Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (item of types; track item.id) {
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.note }}</td>
            <td>{{ item.companyName }}</td>
            <td class="types-action-icons">
              <i class="fa-solid fa-edit text-warning" [routerLink]="['/types/', item.id]"></i>
              <i class="fa-solid fa-trash text-danger" (click)="deleteType(item.id)"></i>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>