button{
    outline: none;
    border: none;
    padding: 8px 20px;
    margin: 0px 5px;
    background-color: white;
    border-radius: 20px;
}
h3{
    color: #27374e;
    font-size: 35px;
    font-weight: bold;
}
table{
    margin: 60px 0 0 0 ;
}
thead tr td{
  background-color: #2babbf !important;
    color: white;
    padding: 20px;
}

tbody tr td{
    padding: 10px 20px;
    vertical-align: middle;
}

tbody tr td i{
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
}
.actions-buttons > *:focus{
    background-color: #27374e;
    color: white;
}
.actions-buttons > *:not(:focus) {
    background-color: white;
}