.custom-button {
  outline: none;
  border: none;
  padding: 10px 25px;

  text-decoration: none;
  background-color: #2cacbf;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: #27374e;
  color: white;
}

/* Heading style */
.item-heading {
  color: #27374e;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 60px;

}

/* Centered table */
.item-table-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.item-table {
  margin-top: 20px;
  /* width: 80%; */
  /* Increased table size */
}

/* Table header */
.item-table thead tr th {
  background-color: #2cacbf;
  color: white;
  padding: 10px;
  text-align: center;
  /* Centered header values */
}

/* Table body */
.item-table tbody tr td {
  padding: 15px;
  text-align: center;
  /* Centered body values */
  vertical-align: middle;
}

.item-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Action icons */
.action-icons i {
  margin-left: 7px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.action-icons i:hover {
  color: #2cacbf;
}