<h2>Welcome To Our Billing System</h2>
<p class="details">a comprehensive billing system designed to streamline and simplify your business operations. Our platform is built to manage a wide range of business needs, including company management, product tracking, sales reports, and invoicing.</p>

<hr>

<h3>System Advantages :</h3>
<div class="sec">
  <ul>
    <li><b>Companies</b> : Organize and manage multiple businesses.</li>
    <li><b>Items</b> : Track products, units, and categories with ease.</li>
    <li><b>Clients</b> : Maintain detailed client records for better service.</li>
    <li><b>Storage</b> : Monitor inventory and storage locations in real-time.</li>
    <li><b>Invoices & Reports</b> : Generate accurate invoices and sales reports .</li>
  </ul>
  <img src="/logo.png" alt="">
</div>


<hr>

<h3>Go to lists directly By :</h3>
<div class="btns">
  <a routerLink="/company-list" class="btn btn-primary">Company List</a>
  <a routerLink="/types-list" class="btn btn-primary">Types List</a>
  <a routerLink="/unit/:id" class="btn btn-primary">Units List</a>
  <a routerLink="/client-list" class="btn btn-primary">Clients List</a>
  <a routerLink="/items-list" class="btn btn-primary">Items List</a>
</div>

