body{
  background-color: #ECEDF1;

}

.container{
  width: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
}
h3{
  text-align: center;
  margin: 15px 0 15px 0;
}

.undeline{
  background-color: black;
  width: 55%;
  height: 3px;
  margin: 0 auto 30px auto;
}

.submit{
  display: block;
  margin: 50px auto 10px auto ;
  background-color: #2babbf;
  color: white;
}
/* .submit:hover{
  border: solid 2px  rgba(39, 55, 77, 1) ;
  font-weight: bold;
} */