<div class="container">
  <form [formGroup]="clientForm">
    <h3>Client Information</h3>
    <div class="underline"></div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input formControlName="name" type="text" class="form-control" placeholder="Name" id="name">
              @if (clientForm.get("name")?.errors && clientForm.get("name")?.touched) {
                @if (clientForm.get("name")?.getError("required")) {
                  <p class=" text-danger">Name is required</p>
                }
                @if (clientForm.get("name")?.getError("minlength")) {
                  <p class=" text-danger">minLength is 3</p>
                }
                @if (clientForm.get("name")?.getError("maxlength")) {
                  <p class=" text-danger">maxLength is 20</p>
                }
              }
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input formControlName="address" type="text" class="form-control" id="address">
      @if (clientForm.get("address")?.errors && clientForm.get("address")?.touched) {
        @if (clientForm.get("address")?.getError("required")) {
          <p class=" text-danger">Address is required</p>
        }
        @if (clientForm.get("address")?.getError("minlength")) {
          <p class=" text-danger">minLength is 3</p>
        }
        @if (clientForm.get("address")?.getError("maxlength")) {
          <p class=" text-danger">maxLength is 20</p>
        }
      }
    </div>

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone</label>
      <input formControlName="phoneNumber" type="tel" class="form-control" placeholder="phoneNumber" id="phoneNumber">
      @if (clientForm.get("phoneNumber")?.errors &&clientForm.get("phoneNumber")?.touched) {
        @if (clientForm.get("phoneNumber")?.getError("required")) {
          <p class=" text-danger">phoneNumber is required</p>
        }
        @if (clientForm.get("phoneNumber")?.getError("pattern")) {
          <p class=" text-danger">Must be Start with 01|0,1,5,2 and 8 numbers </p>
        }}
    </div>
    @if (isupdate) {
      <button class="btn btn-info" (click)="Update()">Update</button>
  }@else {
    <button type="submit" class="btn btn-primary" (click)="AddClient()">Add Client</button>

  }
    
  </form>
<button class="btn btn-primary my-2"(click)="ShowList()">Show List</button>

</div>
