.card-header {
  background-color: #2babbf;
  border-bottom: 2px solid #ddd;
  color: #fff;
}

.card {
  border-radius: 8px;
}

h5 {
  margin-bottom: 0;
}

button {
  display: block;
  width: 100px;
  float: left;
}
