<div class="container">
  <form [formGroup]="UnitForm"
  (ngSubmit)="UnitId ? EditUnit() : AddUnit()"
  >
      <h3>Unit Information</h3>
      <div class="undeline"></div>

      <!-- chnging "UnitName" into "name" to be suitable for api -->
      <div class="mb-3">
          <label for="name" class="form-label"> Unit Name</label>
          @if(selectedUnit?.id!=0){
            <input type="text"  formControlName="name"  class="form-control" id="name" name="name" value="{{selectedUnit?.name}}" required>
          }@else {
            <input type="text"  formControlName="name"  class="form-control" id="name" name="name" required>
          }
          @if (UnitForm.get("name")?.errors && UnitForm.get("name")?.touched) {
            @if (UnitForm.get("name")?.getError("required")) {
              <p class=" text-danger">Name is required</p>
            }
            @if (UnitForm.get("name")?.getError("minlength")) {
              <p class=" text-danger">Minimum Number of words is 3</p>
            }
            @if (UnitForm.get("name")?.getError("maxlength")) {
              <p class=" text-danger">Maximum Number of words is 200</p>
            }
          }
        </div>
      <div class="mb-3">
          <label for="notes" class="form-label"> Notes</label>
          @if(selectedUnit?.id!=0){
            <input type="text"  formControlName="notes"  class="form-control" id="note" name="note" value="{{selectedUnit?.name}}" required>
          }@else {
            <input type="text"  formControlName="notes"  class="form-control" id="note" name="note" required>
          }
          @if (UnitForm.get("notes")?.errors && UnitForm.get("note")?.touched) {
            @if (UnitForm.get("notes")?.getError("required")) {
              <p class=" text-danger">Name is required</p>
            }
            @if (UnitForm.get("notes")?.getError("minlength")) {
              <p class=" text-danger">Minimum Number of words is 3</p>
            }
            @if (UnitForm.get("notes")?.getError("maxlength")) {
              <p class=" text-danger">Maximum Number of words is 200</p>
            }
          }
        </div>

      <div class="btns">
        <button type="submit" class="btn submit" >{{!isUpdate ? 'Add Unit' : 'Update Unit'}} </button>
      </div>

  </form>

</div>

<button type="button" class="btn goToList " routerLink="/unit/0">
  View All Units <b>></b>
</button>
<!-- <i class="fa-solid fa-eye "></i> -->

