<div class="container">
  <form action="">
      <h3>Unit Information</h3>
      <div class="undeline"></div>
      <!-- <div class="mb-3">
          <label for="UnitId" class="form-label">ID</label>
          <input type="number" class="form-control" id="UnitId" required >
      </div> -->
      <div class="mb-3">
          <label for="UnitName" class="form-label">Unit Name</label>
          <input type="text" class="form-control" id="UnitName" name="UnitName" required>
      </div>

      <div class="mb-3">
          <label for="UnitNotes" class="form-label">Notes</label>
          <textarea id="UnitNotes" class="form-control" name="UnitNotes"  placeholder="Enter your Notes here..."></textarea>
      </div>

      <input type="submit" value="Add Unit" class="btn submit">
  </form>
</div>

