<div class="sidebar py-5 ">

    <ul>
        <h2 class="text-white">Bills System</h2>
        <hr class="text-white">
        <li  routerLink="home"  routerLinkActive="activenav"><i class="fa-solid fa-house"></i> Home Page</li>
        <li  routerLink="company" routerLinkActive="activenav"><i class="fa-solid fa-pen-to-square"></i> Company Data</li>
        <li  routerLink="types"  routerLinkActive="activenav"><i class="fa-solid fa-boxes-stacked"></i> Types Data</li>
        <li  routerLink="unit" routerLinkActive="activenav"><i class="fa-solid fa-chart-pie"></i> All Units</li>
        <li  routerLink="items"  routerLinkActive="activenav"><i class="fa-solid fa-layer-group"></i> Items</li>
        <li  routerLink="clients"  routerLinkActive="activenav"><i class="fa-solid fa-user-group"></i> Clients</li>
        <li  routerLink="invoices"  routerLinkActive="activenav"><i class="fa-solid fa-square-minus"></i> Sales Invoices</li>
        <li  routerLink="Reports"  routerLinkActive="activenav"><i class="fa-solid fa-file-lines"></i> Sales Report</li>
    </ul>
</div>
