.sidebar{
    width: 100%;
    background-color: #526D82;
    height: 100vh;
}
.activenav{
    background-color: #29394D;
}
li{
    color: white;
    cursor: pointer;

   
    padding: 10px 20px;
}
li > *{
    color: white;
}
ul{
    list-style-type:none ;
}
i{
    margin: 0 5px ;
}