<div class="container">
  <form action="">
      <h3>Employee Information</h3>
      <!-- <div class="mb-3">
          <label for="EmployeeId" class="form-label">ID</label>
          <input type="number" class="form-control" id="EmployeeId" required >
      </div> -->
      <div class="mb-3">
          <label for="EmployeeName" class="form-label">Name</label>
          <input type="text" class="form-control" id="EmployeeName" required>
      </div>
      <div class="mb-3">
          <label for="Employeedate" class="form-label">Date</label>
          <input type="date" class="form-control" id="Employeedate" required>
      </div>
      <div class="mb-3">
          <label for="EmployeeStartTime" class="form-label">Start Time</label>
          <input type="time" class="form-control" id="EmployeeStartTime" required>
      </div>
      <div class="mb-3">
          <label for="EmployeeEndTime" class="form-label">End Time</label>
          <input type="time" class="form-control" id="EmployeeEndTime" required>
      </div>
      <input  type="submit" value="Add Employee" class="btn submit">
  </form>
</div>
