body{
    background-color: #ECEDF1;
}
.content {
    margin-left: 220px;
    padding: 20px;
    transition: margin-left 0.3s ease;
  }

  .sidebar:hover ~ .content {
    margin-left: 250px;
  }
.mat-snack-bar-container.custom-error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
